{% extends 'base.html.twig' %}

{# Modifie le titre de la page #}
{% block title %}Home - {{ parent() }}{% endblock %}

{% block body %}
<h1>Bienvenue sur WikiCoaster !</h1>
<a href="#" class="btn btn-primary">Connectez-vous</a>
{% endblock %}